
     <!-- The main image header -->
     <div class="main">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-2 text-center jumbo-text">Mongo Scraper</h1>
                <p class="lead text-center">New York Times Edition</p>
                <div class="text-center">
                    <button id="scraper" type="button" class="btn btn-primary">Scrape Articles</button>
                    {{!-- <button id="clearer" type="button" class="btn btn-primary">Clear Articles</button> --}}

                </div>
                
                
            </div>
        </div>
        
    <div id="wrapper">
       
      
      
        <div id="articles">
           
        </div>
      <div id="notes"></div>
    </div>
    
