
     <!-- The main image header -->
     <div class="main">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-2 text-center jumbo-text">Mongo Scraper</h1>
                <p class="lead text-center">New York Times Edition</p>
                <div class="text-center">
                    <button id="scraper" type="button" class="btn btn-primary">Scrape Articles</button>
                    <button id="clearer" type="button" class="btn btn-primary">Clear Articles</button>

                </div>
                
                
            </div>
        </div>
        
    <div id="wrapper">
        {{!-- <div class="card" id="cardio">
            
            <div class="card-body">
              <h5 class="card-title" id="articles"></h5>
              <p class="card-text" id="links"></p>
              <a href="" class="btn btn-primary">Save Article</a>
            </div>
          </div> --}}
      
      
        <div id="articles">
           
        </div>
      <div id="notes"></div>
    </div>
    
